<div class="single-panel">
    <h1>Order a new campaign</h1>
    <p>It easy to begin with Hootgo, chose when you want your campaign to be launched :</p>
    <button class="btn btn-default btn-lg" id="send-asap">As soon as possible</button>
    &nbsp; or &nbsp;
    <button class="btn btn-default btn-lg" id="send-scheduled">On a schedule date</button>
</div>
