@import "custom_bootstrap/variables.less";
@import "twitter/bootstrap/variables.less";

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -@footer-height;
    padding: 0 0 @footer-height;
}

.container {
    width: 100%;
    min-width: @container-width !important;
}

.navbar {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.075);
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 0;
    .dropdown:hover .dropdown-menu {
        display: block;
        min-width: 200px;
        box-shadow: darken(@body-bg, 20%) 1px 1px 2px;
    }
}

.navbar-brand {
    background: @purple;
}


section#page-content {
    padding: 36px 0;

    .single-panel {
        background-color: #ffffff;
        border: 1px solid #DBDBDB;
        border-radius: 3px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.075);
        float: none;
        min-width: @container-width;
        overflow: hidden;
        padding: 35px;
        position: relative;
    }
}

.two-columns-with-aside {
    width: 100%;
    section {
        margin: 0 36px 0 200px;
        min-width: @container-width;
        background-color: #ffffff;
        border: 1px solid #DBDBDB;
        border-radius: 3px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.075);
        padding: 35px;
        position: relative;
    }

    section > h1 {
        margin-top: 0;
    }

    aside {
        padding: 10px 0;
        float: left;
        width: 200px;
        ul {
            list-style: none;
        }
    }
}

ul.settings-menu {
    padding-left: 0;
    li a {
        padding: 10px;
        color: lighten(@text-color, 20%);
        display: block;
    }
    li a:hover {
        background: #fff;
        color: @text-color;
        text-decoration: none;
    }
    li a.active {
        color: lighten(@text-color, 20%);
        background: #fff;
        font-weight: bold;
    }
}

.footer {
    height: @footer-height;
    padding: 15px;
}