
<div class="authentications">
  <% unless @authorizations.empty? %>
  <p><strong>You have signed in with these services:</strong></p>
    <% for authorization in @authorizations %>
      <div class="authentication">
        <div class="provider"><%= authorization.provider %></div>
        <div class="uid"><%= authorization.uid %></div>
        <%= link_to "X", authorization, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
      </div>
    <% end %>
  <% end %>
  <div class="clear"></div>
</div>

<p>Connect with :</p>
<ul>
  <li><a href="/auth/twitter">Twitter</a></li>
</ul>